<div class="calculator-page">
  <form [formGroup]="emprestimoForm" (ngSubmit)="onSubmit()">
    <div class="left-side">
      <div class="section">
        <h5>Tipo Empréstimo</h5>

        <div class="checkbox-group">
          <div class="ckb-loan-type">
            <input type="radio" formControlName="loanType" [value]="1" />
            Casa
          </div>
          <div class="ckb-loan-type">
            <input type="radio" formControlName="loanType" [value]="2" />
            Carro
          </div>
          <div class="ckb-loan-type">
            <input type="radio" formControlName="loanType" [value]="3" />
            Pessoal
          </div>
        </div>
      </div>
      <div class="section">
        <h5>Valor Empréstimo</h5>
        <div class="input-container">
          <input
            type="range"
            class="slider"
            id="range-slider-loan-amount"
            formControlName="valorEmprestimo"
          />
          <input
            type="number"
            id="input-slider-loan-amount"
            class="input-slider-loan-amount"
            formControlName="valorEmprestimo"
          />
        </div>
      </div>
      <div class="section">
        <h5>Taxa Empréstimo</h5>
        <div class="input-container">
          <input
            type="range"
            class="slider"
            id="range-slider-interest-amount"
            formControlName="taxaEmprestimo"
          />
          <input
            type="number"
            id="input-slider-interest-amount"
            class="input-slider-interest-amount"
            formControlName="taxaEmprestimo"
          />
          <span>%</span>
        </div>
      </div>
      <div class="section">
        <h5>Prazo Empréstimo</h5>
        <div class="input-container">
          <input
            type="range"
            class="slider"
            id="range-slider-loan-term"
            formControlName="valorEmprestimo"
          />
          <input
            type="number"
            id="input-slider-loan-term"
            class="input-slider-loan-term"
            formControlName="valorEmprestimo"
          />
          <select
            name="term-type"
            id="term-type"
            formControlName="tipoPrazo"
          >
            <option value="year">Anos</option>
            <option value="month">Meses</option>
          </select>
        </div>
      </div>
    </div>

    <div class="right-side">
      <div class="card">
        <div class="card-top"></div>
        <div class="card-body">
          <div class="row">
            <span class="small-circle light-red"></span>
            <div class="info">Valor simulado</div>
            <div class="amount-total">R$ 50.000,00</div>
          </div>
          <div class="row">
            <span class="small-circle dark-red"></span>
            <div class="info">Juros a Pagar</div>
            <div class="amount-total">R$ 3.000,00</div>
          </div>
          <div class="row">
            <div class="info fw-bold">Valor total a pagar</div>
            <div class="amount-total fw-bold">R$ 53.000,00</div>
          </div>
        </div>
        <div class="card-footer">
          <button type="submit" class="apply">Simular</button>
        </div>
      </div>
    </div>
  </form>
</div>
