<div class="home">
  <div class="container">
    <div class="left-side">
      <img
        src="../../../assets/profile-home.png"
        alt="Background Image"
        class="profile-photo"
      />
    </div>
    <div class="right-side">
      <img src="../../../assets/money-icon.svg" width="100px" />
      <p class="first-line">Bem Vindo</p>
      <h5 class="app-title">Simulador de Empréstimo</h5>
      <button id="start-button" routerLink="/loan-calculator">Simular</button>
    </div>
  </div>
</div>
