.home {
  height: 100vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.diagonal-image-top {
  position: absolute;
  top: -100px;
  left: -180px;
  width: 700px;
  animation: delayAppearance 4s ease 0s 1 forwards;
}

.diagonal-image-bottom {
  position: absolute;
  bottom: -80px;
  right: -80px;
  width: 400px;
  animation: delayAppearance 4s ease 0s 1 forwards;
}

.container {
  display: flex;
  margin: 0 14px;
  padding: 0 4px;
  background-color: black;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0px 3px 6px #00000033;
}

.right-side {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.first-line {
  font-size: 70px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  background: white;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin-top: 20px;
  margin-bottom: 30px;
  opacity: 0;
  animation: slideInFromTop 2s ease 0s 1 forwards;
}

.app-title {
  margin: 10px 0;
  margin-bottom: 60px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  background: white;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin-top: 0;
  opacity: 0;
  animation: slideInFromRight 2s ease 0s 1 forwards;
}

.start-button {
  display: inline-flex;
  align-items: center;
  height: 48px;
  border-radius: 14px;
  border: none;
  padding: 0 48px;
  background: linear-gradient(
    45deg,
    #dd8c6d 0%,
    #e86d3c 50%,
    rgb(241, 95, 38) 100%
  );
  color: #fff;
  cursor: pointer;
  box-shadow: 0px 3px 6px #00000033;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0;
  animation: slideInFromBottom 2s ease 0s 1 forwards;
}

.start-button:hover {
  background: white;
  color: rgb(241, 95, 38);
}

@media screen and (max-height: 560px) {
  .container {
    height: 90%;
  }
}

@media screen and (max-width: 555px) {
  .home {
    height: 100vh;
  }

  .first-line {
    font-size: 50px;
  }

  .diagonal-image-top {
    width: 400px;
  }

  .diagonal-image-bottom {
    width: 270px;
  }

  .container {
    width: 100%;
    height: 80%;
  }
}

@keyframes delayAppearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
